@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
html {
  font-size: 100%;
  scroll-behavior: smooth;
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 85%;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    font-size: 80%;
  }
}

h1 {
  color: #111111;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 4em;
  line-height: 1.25em;
}

h2 {
  color: #111111;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 2.375em;
  line-height: 1.5em;
  text-align: center;
  margin-bottom: 72px;
}

h3 {
  color: #111111;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2em;
}

p, footer a, .hero input, button {
  color: #111111;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 2em;
}

button {
  background-color: black;
  color: white;
  padding: 12px 16px;
  font-weight: 500;
  display: block;
  border: none;
  display: block;
}
button:hover {
  background-color: #3A3A3B;
  transition: 0.5s;
}
button:disabled {
  background-color: #757575;
  color: #DEDEDE;
  cursor: no-drop;
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  button {
    width: 100%;
    height: 48px;
  }
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  height: 56px;
  padding: 8px 32px;
}
nav img {
  padding-top: 10.5px;
}

.grey-background {
  background-color: #FAFAFA;
}

.with-border {
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
}

.hero {
  background-image: url("./images/background.svg");
  background-repeat: repeat;
  padding: 180px 0px;
  border: 1px solid #DEDEDE;
}
.hero .content {
  margin: auto;
}
@media all and (min-width: 2400px) {
  .hero .content {
    max-width: 980px;
  }
}
@media all and (min-width: 1600px) and (max-width: 2400px) {
  .hero .content {
    max-width: 980px;
  }
}
@media all and (min-width: 1200px) and (max-width: 1599px) {
  .hero .content {
    max-width: 980px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1199px) {
  .hero .content {
    max-width: 90%;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .hero .content {
    max-width: 90%;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .hero .content {
    max-width: 90%;
  }
}
.hero h1 {
  background: linear-gradient(245deg, #F7BF48 19.39%, #D96A2C 83.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: auto;
}
.hero p, .hero footer a, footer .hero a, .hero input, .hero button {
  text-align: center;
  display: block;
  max-width: 100%;
}
.hero form {
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .hero form {
    flex-direction: column;
  }
}
.hero input {
  padding: 11px 16px;
  margin-right: 8;
  width: 300px;
  text-align: left;
  border-radius: 0%;
  border: 1px solid #111111;
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .hero input {
    width: 100%;
    margin-bottom: 24px;
  }
}
.hero #form-response {
  display: block;
  border: 2px solid #DEDEDE;
  border-radius: 2;
  background: white;
  border-radius: 2px;
  padding: 8px;
  width: 420px;
  margin: auto;
  display: none;
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .hero #form-response {
    width: 100%;
  }
}

.steps {
  margin: auto;
  padding: 120px 0px;
}
@media all and (min-width: 2400px) {
  .steps {
    max-width: 980px;
  }
}
@media all and (min-width: 1600px) and (max-width: 2400px) {
  .steps {
    max-width: 980px;
  }
}
@media all and (min-width: 1200px) and (max-width: 1599px) {
  .steps {
    max-width: 980px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1199px) {
  .steps {
    max-width: 90%;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .steps {
    max-width: 90%;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .steps {
    max-width: 90%;
  }
}
.steps #phone {
  display: block;
  max-width: 480px;
  margin: auto;
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .steps #phone {
    max-width: 100%;
  }
}
.steps .steps-row {
  display: grid;
  column-gap: 24px;
  row-gap: 40px;
  grid-template-rows: repeat(4, 80px);
  max-width: 600px;
  margin: 72px auto 0 auto;
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .steps .steps-row {
    grid-template-rows: repeat(4, 100px);
  }
}
.steps .steps-row .step-item {
  display: grid;
  align-items: center;
  grid-template-columns: 0.1fr 1fr;
  border-left: 3px solid #DEDEDE;
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .steps .steps-row .step-item {
    margin-left: 0;
  }
}
.steps .steps-row .step-item .number {
  width: 24px;
  margin-left: -14px;
  text-align: center;
  background-color: white;
}
.steps .steps-row .step-item h3 {
  display: block;
  justify-content: center;
}
.steps .steps-row .step-item p, .steps .steps-row .step-item footer a, footer .steps .steps-row .step-item a, .steps .steps-row .step-item button, .steps .steps-row .step-item .hero input, .hero .steps .steps-row .step-item input {
  color: #4E4D4D;
}
.steps .steps-row .green {
  color: #3CB7BA;
}
.steps .steps-row .pink {
  color: #E6629A;
}
.steps .steps-row .yellow {
  color: #F7BF48;
}
.steps .steps-row .blue {
  color: #5773EB;
}
.steps button {
  margin: 80px auto 0px auto;
}

.banner {
  padding: 72px 64px;
  margin: 40px auto 120px auto;
  background: url("https://source.unsplash.com/4zxp5vlmvnI/1600x900"), linear-gradient(50.11deg, #5576EC 1.91%, rgba(169, 85, 236, 0.8) 88.04%);
  filter: drop-shadow(0px 16px 24px rgba(68, 46, 46, 0.26));
  box-shadow: 0px 0px 24px rgba(159, 60, 236, 0.16), 0px 2px 24px rgba(17, 17, 17, 0.02);
  background-blend-mode: overlay;
  border-radius: 4px;
  background-position: center;
}
@media all and (min-width: 2400px) {
  .banner {
    max-width: 980px;
  }
}
@media all and (min-width: 1600px) and (max-width: 2400px) {
  .banner {
    max-width: 980px;
  }
}
@media all and (min-width: 1200px) and (max-width: 1599px) {
  .banner {
    max-width: 980px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1199px) {
  .banner {
    max-width: 90%;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .banner {
    max-width: 90%;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .banner {
    max-width: 90%;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .banner {
    padding: 24px;
  }
}
.banner h2 {
  color: white;
  text-shadow: 0px 0px 8px rgba(17, 17, 17, 0.56);
  margin: 0 auto;
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .banner h2 {
    font-size: 2em;
  }
}

.different {
  margin: auto;
  padding: 80px 0px 120px 0px;
}
@media all and (min-width: 2400px) {
  .different {
    max-width: 980px;
  }
}
@media all and (min-width: 1600px) and (max-width: 2400px) {
  .different {
    max-width: 980px;
  }
}
@media all and (min-width: 1200px) and (max-width: 1599px) {
  .different {
    max-width: 980px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1199px) {
  .different {
    max-width: 90%;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .different {
    max-width: 90%;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .different {
    max-width: 90%;
  }
}
.different .choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  margin: 0px auto;
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .different .choices {
    grid-template-columns: 380px;
    row-gap: 32px;
    justify-content: center;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .different .choices {
    grid-template-columns: 100%;
    row-gap: 32px;
    justify-content: center;
  }
}
.different .choices h3 {
  border-bottom: 1px solid #DEDEDE;
  text-align: center;
  line-height: 72px;
  margin-bottom: 24px;
}
.different .choices .box {
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  padding: 24px 40px;
  display: grid;
  grid-auto-rows: 72px;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.different .choices .box .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 320px;
}
.different .choices .box .item img {
  height: 32px;
  min-width: 32px;
}
.different .choices .box .item p, .different .choices .box .item footer a, footer .different .choices .box .item a, .different .choices .box .item button, .different .choices .box .item .hero input, .hero .different .choices .box .item input {
  margin-left: 8px;
  line-height: 72px;
}
.different .choices .box #two-lines {
  align-items: flex-start;
  margin-top: 24px;
}
.different .choices .box button {
  background-color: transparent;
  border: 1px solid #DEDEDE;
  color: #111111;
}
.different .choices .box button:hover {
  background-color: #FAFAFA;
}
.different .choices .featured {
  border: 2px solid #5773EB;
  box-shadow: 0px 0px 24px rgba(159, 60, 236, 0.16), 0px 2px 24px rgba(17, 17, 17, 0.02);
}

.how {
  margin: auto;
  padding: 120px 0px;
}
@media all and (min-width: 2400px) {
  .how {
    max-width: 980px;
  }
}
@media all and (min-width: 1600px) and (max-width: 2400px) {
  .how {
    max-width: 980px;
  }
}
@media all and (min-width: 1200px) and (max-width: 1599px) {
  .how {
    max-width: 980px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1199px) {
  .how {
    max-width: 90%;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .how {
    max-width: 90%;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .how {
    max-width: 90%;
  }
}
.how h3, .how p, .how footer a, footer .how a, .how button, .how .hero input, .hero .how input {
  text-align: center;
  color: #4E4D4D;
  margin-bottom: 8px;
}
.how .card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  margin-top: 40px;
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .how .card-wrapper {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
}
.how .card-wrapper .card {
  padding: 24px;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: self-end;
}
.how .card-wrapper .blue {
  border: 2px solid #5773EB;
  box-shadow: 0px 8px 24px rgba(87, 115, 235, 0.16), 0px 8px 24px rgba(17, 17, 17, 0.02);
}
.how .card-wrapper .blue h3 {
  color: #5773EB;
}
.how .card-wrapper .green {
  border: 2px solid #3CB7BA;
  box-shadow: 0px 8px 24px rgba(60, 183, 186, 0.16), 0px 8px 24px rgba(17, 17, 17, 0.02);
}
.how .card-wrapper .green h3 {
  color: #3CB7BA;
}
.how .card-wrapper .pink {
  border: 2px solid #E6629A;
  box-shadow: 0px 8px 24px rgba(230, 98, 154, 0.16), 0px 8px 24px rgba(17, 17, 17, 0.02);
}
.how .card-wrapper .pink h3 {
  color: #E6629A;
}

.map {
  margin: auto;
  padding: 80px 0px;
}
@media all and (min-width: 2400px) {
  .map {
    max-width: 980px;
  }
}
@media all and (min-width: 1600px) and (max-width: 2400px) {
  .map {
    max-width: 980px;
  }
}
@media all and (min-width: 1200px) and (max-width: 1599px) {
  .map {
    max-width: 980px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1199px) {
  .map {
    max-width: 90%;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .map {
    max-width: 90%;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .map {
    max-width: 90%;
  }
}
.map img {
  display: block;
  margin: 72px auto;
}
.map p, .map footer a, footer .map a, .map button, .map .hero input, .hero .map input {
  color: #4E4D4D;
  text-align: center;
  margin-top: 24px;
}
.map button {
  color: white;
  margin: 72px auto;
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .map h2 {
    margin-bottom: 24px;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .disappear-mobile {
    display: none;
  }
}

footer {
  background: #fafafa;
}
footer a {
  font-size: 1em;
}
footer a:hover {
  transition: 0.5s;
  color: #E6629A;
}
footer .content {
  margin: auto;
  padding: 48px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 32px);
}
@media all and (min-width: 2400px) {
  footer .content {
    max-width: 980px;
  }
}
@media all and (min-width: 1600px) and (max-width: 2400px) {
  footer .content {
    max-width: 980px;
  }
}
@media all and (min-width: 1200px) and (max-width: 1599px) {
  footer .content {
    max-width: 980px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1199px) {
  footer .content {
    max-width: 90%;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  footer .content {
    max-width: 90%;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  footer .content {
    max-width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
